1.  What are data structures, and why are they important?
- Data structure is a way of organizing nd storing data so that it can be accessed and manipulated efficiently. They are fundamental to computer programming and software development


2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types are those whose values can be modified after their creation, it means you can modify content without creating a new object in memory. Examples are:- lists, dictionaries, sets.

- Immutable data types are those whose values cannot be modified after their creation, it means you cannot modify their content. Any operation that appears to modify an immutable object actually results in the creation of a new object. Examples are:- strings, tuples.


3. What are the main differences between lists and tuples in Python?
- In Python, lists and tuples are both used to store collections of items, but they have key differences that make them suitable for different use cases:

- Lists:- are suitable for collections of items that require modification, such as queues or stacks where elements are frequently added or removed.

- Tuples:- are ideal for representing fixed collections of related items where the data should not change and are intended to remain constant. They are often used when you need to ensure data integrity.

4. Describe how dictionaries store data.
- Dictionaries are used to store data values in key : value pairs. A dictionary is a collection which is ordered, changable and do not allow duplicates.

5.  Why might you use a set instead of a list in Python?
- Because sets cannot have multiple occurences of the same element. It makes sets highly useful to remove duplicate values and to perform common maths operations like unions or intersections.

6.  What is a string in Python, and how is it different from a lists?
- A string in python is a ordered sequence of characters, used to represent textual data. Strings are enclosed in either single quotes or double quotes.

Key differences between strings and lists are:
- Mutability: Strings are immutable, meaning their content cannot be changed after creation. Lists are mutable, allowing for addition, removal, or modifications of elements.

- Content: Strings are designed to store sequences of characters. Lists can store a collection of items of various data types including numbers, characters, other lists and even strings themselves.

7.  How do tuples ensure data integrity in Python?
- Tuples in python ensure data integrity primarily through their immutability. This means that once a tuple is created its element cannot be changed, added or removed. This characteristic provides several ways to ensure data integrity.

8.  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a collection of associated pairs of items where each pair consists of a key and a value. In python, the dictionary dtat types represent the implementation of hash tables. The keys in the dictionary are hashable, they are generated by a hash function which generates a unique result for each unique value supplied to hash function.

9. Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types. This is a key feature of python lists, making them highly versatile. For example, it can hold strings, integers, booleans, float-numbers, and even other lists.

10. Explain why strings are immutable in Python.
- Strings are made immutable so that they can be made hashable to use as dictionary key and also for code simplicity and safety.

11.  What advantages do dictionaries offer over lists for certain tasks?
- dictionaries offer advantages over lists for tasks requiring better representing in structure data, to avoid duplication of keys, and efficient lookups. For example, storing a phone book with names as keys and phone numbers as values is much more efficient with a dictionary than a list.

12. Describe a scenario where using a tuple would be preferable over a list.
- A scenario where using a tuple would be preferable over a list is when representing fixed, immutable data collections, particularly when those collectios are intended to be used as keys in a dictionary or passed as arguments to functions where data integrity is critical. For example when you need to store the cordinates of a point in a 2D or 3D space.

13. How do sets handle duplicate values in Python?
- Sets in python are unordered collections of unique elements. By their nature, duplicates are not allowed.

14. How does the “in” keyword work differently for lists and dictionaries?
- When used with a list, the "in " keyword checks for the presence of a specific element within the list. It performs a linear search iterating through each element of the list from beginning to end comparing it to the value being searched for, the time taken increases proportionally with the size of the list.

- When used with a dictionary, the "in " keyword checks for the presence of a specific key within the dictionary. It does not check for the presence of values directly. Dictionaries allow efficient lookups because the key is hashed, and this hash directly points to the location where the key-value pair is stored, it takes a nearly constant amount of time regardless of the dictionary's size.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, the elements of a tuple cannot be modified directly after the tuple has been created. Tuples are immutable data structures in python. This means that once a tuple is defined, its size and the values of its element cannot be changed, added or removed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where you have a dictionary within another dictionary. An example of its use case is storing employee records.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary, generally has an average time complexity of O(1), which is constant time. This efficiency stems from the underlying implementation of dictionaries as hash tables.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in situations where:
  - Order matters
  - Access by index is primary
  - Duplicate elements are allowed and necessary
  - Implementing array-like structure
  - Memory efficiency or simple, ordered collections

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is considered as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored. We retrieve data using key, not position, which allows it to take nearly constatnt amount of time regardless of dictionary's size.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items. You retrieve data by index, indexes are always starts from 0(from left side) and -1(from right side). In list order matters, and the time taken increases proportionally with the size of the list.

- A dictionary is an unordered collection of key-value pairs. You retrieve data by key, not by position. Lookup by key is very fast, thanks to hash tables

In [63]:
# 1. Write a code to create a string with your name and print it.
'''
my_name = "Dipen"
print(my_name)
'''

'\nmy_name = "Dipen"\nprint(my_name)\n'

In [1]:
# 2. Write a code to find the length of the string "Hello World"
'''
a = "Hello World"
length = len(a)
print("The length of a is:", length)
'''

The length of a is: 11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
'''
b = "Python Programming"
slice = b[0:3]
print(slice)
'''

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase
'''
c = "hello"
print(c.upper())
'''

HELLO

In [61]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
'''
d = "I like apple."
orange = d.replace("apple", "orange")
print(orange)
'''

I like orange.

In [62]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
'''
numbers = [1, 2, 3, 4, 5]
print(numbers)
'''

[1, 2, 3, 4, 5]

In [12]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
'''
list = [1, 2, 3, 4]
list.append(10)
print(list)
'''

[1, 2, 3, 4, 10]

In [15]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
'''
list_1 = [1, 2, 3, 4, 5]
list_1.remove(3)
print(list_1)
'''

[1, 2, 4, 5]

In [17]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
'''
list_2 = ['a', 'b', 'c', 'd']
list_2[1]
'''

'b'

In [18]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
'''
list_3 = [10, 20, 30, 40, 50]
list_3[::-1]
'''

[50, 40, 30, 20, 10]

In [19]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
'''
tuple = (100, 200, 300)
print(tuple)
'''

(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
tuple_1 = ('red', 'green', 'blue', 'yellow')
tuple_1[1:]
'''

('green', 'blue', 'yellow')

In [21]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
tuple_2 = (10, 20, 5, 15)
min(tuple_2)
'''

5

In [64]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))
'''

1

In [65]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
fruits = ('apple', 'banana', 'mango', 'kiwi')
if 'kiwi' in fruits:
  print("Kiwi is in the tuple!")
else:
  print("Kiwi is not in the tuple!")
'''

Kiwi is in the tuple!

In [72]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
set_7 = {'a', 'b', 'c'}
print(set_7)
'''

{'c', 'b', 'a'}

In [29]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
set_1 = {1, 2, 3, 4, 5}
set_1.clear()
print(set_1)
'''

set()

In [31]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
set_2 = {1, 2, 3, 4}
set_2.remove(4)
print(set_2)
'''

{1, 2, 3}

In [32]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
set_3 = {1, 2, 3}
set_4 = {3, 4, 5}
set_3 | set_4
'''

{1, 2, 3, 4, 5}

In [33]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
set_3 = {1, 2, 3}
set_5 = {2, 3, 4}
set_3 & set_5
'''

{2, 3}

In [34]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
dict = {"name":"Raghav","age":27, "city":"Mumbai"}
print(dict)
'''

{'name': 'Raghav', 'age': 27, 'city': 'Mumbai'}

In [37]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
dict_1 = {'name': 'John', 'age': 25}
dict_1['country'] = 'USA'
print(dict_1)
'''

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
dict_2 = {'name': 'Alice', 'age': 30}
print(dict_2['name'])
'''

Alice

In [39]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
dict_3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_3.pop('age')
'''

22

In [40]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
dict_4 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict_4:
  print('key "city" exists in the dictionary.')
else:
  print('key "city" does not exist in the dictionary.')
  '''

key "city" exists in the dictionary.

In [66]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
List = ['ajay', 'bijay', 'ram']
Tuple = ('apple', 'banana', 'kiwi', 'date')
Dict = {'name':'Tarun', 'age':'27', 'country':'USA'}
print(List, Tuple, Dict)
'''

['ajay', 'bijay', 'ram'] ('apple', 'banana', 'kiwi', 'date') {'name': 'Tarun', 'age': '27', 'country': 'USA'}

In [81]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
'''
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)
'''

[19, 44, 70, 78, 84]

In [59]:
# 28. Write a code to create a list with strings and print the element at the third index.
'''
list_5 = ['apple', 'banana', 'orange', 'date']
list_5[3]
'''

'date'

In [58]:
# 29. Write a code to combine two dictionaries into one and print the result.
'''
dict_5 = {'a' : 1, 'b' : 23, 'c' :'ram'}
dict_6 = {'d' : 'mango', 'e' : 'lemon', 'f' : 'apple'}
dict_5.update(dict_6)
print(dict_5)
'''

{'a': 1, 'b': 23, 'c': 'ram', 'd': 'mango', 'e': 'lemon', 'f': 'apple'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
'''
LIST = ['apple', 'brinjal','fruits']
my_set = set(LIST)
print(my_set)
'''